<div class="login-panel">
  <p-panel header="Login" styleClass="login-panel">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="p-fluid">
        <div class="p-field">
          <label for="email">E-mail</label>
          <input id="email" type="text" pInputText formControlName="email" />
        </div>
        <div class="p-field">
          <label for="password">Password</label>
          <input id="password" type="password" pInputText formControlName="password" />
        </div>
        <div class="p-field">
          <p-button label="Login" type="submit" [disabled]="loginForm.invalid"></p-button>
        </div>
      </div>
    </form>
  </p-panel>
</div>
