<p-dialog header="Create Client" [(visible)]="display" [modal]="true" [closable]="false" [style]="{width: '400px'}">
  <form [formGroup]="createClientForm" (ngSubmit)="onCreate()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="FirstName">Nome</label>
        <input id="FirstName" type="text" pInputText formControlName="FirstName">
      </div>
      <div class="p-field">
        <label for="LastName">Sobrenome</label>
        <input id="LastName" type="text" pInputText formControlName="LastName">
      </div>
      <div class="p-field">
        <label for="Email">E-mail</label>
        <input id="Email" type="email" pInputText formControlName="Email">
      </div>
      <div class="p-field">
        <label for="DateOfBirth">Data de nascimento</label>
        <input id="DateOfBirth" type="date" pInputText formControlName="DateOfBirth">
      </div>
      <div class="p-field">
        <label for="Password">Senha</label>
        <input id="Password" type="password" pInputText formControlName="Password">
      </div>
    </div>
    <p-footer>
      <p-button label="Create" type="submit" [disabled]="createClientForm.invalid"></p-button>
      <p-button label="Cancel" type="button" (click)="display=false"></p-button>
    </p-footer>
  </form>
</p-dialog>
